/* This file is for your main application css. */

@import "bootstrap";

.map_canvas {
  height: 400px;
  width: 600px;
  overflow: visible;
  position: static;
  float: right;
//  background-color: gray;
}
.route-data {
  display: inline-block;
}
.hidden {
  display: none;
}
/* Optional: Makes the sample page fill the window. */
