/* This file is for your main application css. */

@import "bootstrap";

.map_canvas {
  height: 400px;
  width: 1100px;
  overflow: visible;
  position: static;
//  background-color: gray;
}
.hidden {
  display: none;
}
/* Optional: Makes the sample page fill the window. */
